.demo-3 {
    --color-text: #fbd54a;
    --color-bg: #333;
    --color-link: #4d4f5f;
    --color-link-hover: #bfb5b5;
    --color-info: #fff;
    --color-main-bg: #24262d;
    --path-fill-1: #aeaeae;
    --path-fill-2: #1d1d1f;
    --path-fill-3: #000;
    --color-title: #fff;
    --font-family-title: 'Arapey', serif;
    --font-size-title: 5vmax;
    --font-weight-title: 400;
    --color-menu: #fff;
    --color-menu-hover: #fff;
    --font-family-menu: 'Arapey', serif;
    --font-size-menu: 3vmax;
    --font-weight-menu: 400;
    --button-bg: #fff;
    --button-circle: #ada4a4;
    --button-line: #222;
}

.global-menu {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
}

.global-menu__item {
    color: var(--color-menu);
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-menu);
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    display: block;
    margin: 0.25em 0;
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: ease-in;
    text-decoration: none;
}

.global-menu__item--demo-3 {
    transition: transform 0.1s, opacity 0.1s;
    transform: translateY(100%);
    transition-timing-function: ease-out;
}

.global-menu__item:hover {
    color: var(--color-menu-hover);
}

.global-menu__item.is-opened {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease;
}

/* demo 3 */
.global-menu__item--demo-3 {
    transition-delay: 0s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(1) {
    transition-delay: 0.65s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(2) {
    transition-delay: 0.7s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(3) {
    transition-delay: 0.75s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(4) {
    transition-delay: 0.8s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(5) {
    transition-delay: 0.85s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(6) {
    transition-delay: 0.9s;
}

.global-menu__item--demo-3.is-opened:nth-of-type(7) {
    transition-delay: 0.95s;
}

.shape-overlays {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
}

.shape-overlays.is-opened {
    pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
    fill: var(--path-fill-1);
}

.shape-overlays__path:nth-of-type(2) {
    fill: var(--path-fill-2);
}

.shape-overlays__path:nth-of-type(3) {
    fill: var(--path-fill-3);
}

.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.tcon > * {
    display: block;
}

.tcon:hover, .tcon:focus {
    outline: none;
}

.tcon::-moz-focus-inner {
    border: 0;
}

.tcon-menu__lines {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: #fff;
    position: relative;
    z-index: 999;
}

.tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: #fff;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: 2.85714px center;
    width: 100%;
}

.tcon-menu__lines::before {
    top: 10px;
}

.tcon-menu__lines::after {
    top: -10px;
}

.tcon-transform .tcon-menu__lines {
    transform: scale3d(0.8, 0.8, 0.8);
}

.tcon-menu--xbutterfly {
    width: auto;
}

.tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, transform .3s ease;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
    background: transparent;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
    top: 0;
    transition: top .3s ease, transform .3s .5s ease;
    width: 40px;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
    transform: rotate3d(0, 0, 1, 45deg);
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
    transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}